.aboutt {
    background-color: #DDA0DD;
    margin-block: 2rem;
    border-radius: 1rem
}

h2 {
    font-size: 4rem;
    margin-top: -2rem;
}

img {
    width: 500px;
}

.aboutContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    p {
        font-size: 2rem;
    }
}