body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  height: 100%; /* Ensure body takes up full height */

}

.App {
  text-align: center;
}

header {
  background-color: #000000;
  color: white;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

a:hover {
  color: #ffde59;
}

section {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 32px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

.project {
  margin-bottom: 40px;
}

.project h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

footer {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: plum;
  color: white;
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
  max-width: 100%;
  padding: 0 20px; 
  
}



.hero-name {
  color: #000000;
  font-size: 3rem;
}

.hero-text {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards, typing 4s steps(30) 1s infinite, reset 0s 4s infinite;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes reset {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

#profile-picture {
  text-align: center;
  padding: 40px 20px;
  background-color: plum;  
  width: 100vw;
  max-width: 100%;
  
}


#profile-picture h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

.profile-image {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background: none; 
}


.profile-image:hover {
  transform: scale(1.1); 
}


.blue-link {
  color: blue;
}

.red-link {
  color: red;
}



@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    padding: 40px 10px;
  }

  h2 {
    font-size: 28px;
  }

  ul li {
    font-size: 16px;
  }

  .project {
    padding: 20px;
    margin: 10px 0;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }

  footer {
    position: relative;
  }

}

@media (max-width: 480px) {
  header {
    padding: 15px;
  }

  nav ul li {
    font-size: 18px;
    margin: 5px 0;
  }

  h2 {
    font-size: 20px;
  }

  ul li {
    font-size: 14px;
  }

  .project {
    padding: 15px;
    margin: 10px 0;
  }



  footer {
    font-size: 14px;
    padding: 15px;
  }

}